<%= render "shared/error", obj: @chef %>  <!-- obj: @recipe this passes in this instance variable into the partial. If you want to run this in chefs - obj: @chef  -->

<div class="row">
   <div class="col-md-12">
    <%= form_for(@chef, :html => {class: "form-horizontal", role: "form"}) do |f| %> <!-- This is how you add bootstrap class in ruby code -->
     <div class="form-group">
       <div class="control-label col-md-2">
         <%= f.label :chef_name, "Name of Chef" %>
       </div>
     <div class="col-md-8">
        <%= f.text_field :chefname, class: "form-control", placeholder: "Name of Chef", autofocus: true %>
      </div>
     </div>
     
     <div class="form-group">
       <div class="control-label col-md-2">
         <%= f.label :email %>
       </div>
     <div class="col-md-8">
        <%= f.email_field :email, class: "form-control", placeholder: "Enter your e-mail address.." %>
      </div>
     </div>
     
     <div class="form-group">
       <div class="control-label col-md-2">
         <%= f.label :password %>
       </div>
     <div class="col-md-8">
        <%= f.password_field :password, class: "form-control", placeholder: "Create a password.." %>
      </div>
     </div>
     
     <div class="form-group">
       <div class="control-label col-md-2">
         <%= f.label :password_confirmation, "Confirm Password" %>
       </div>
     <div class="col-md-8">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Please re-enter your password.." %>
      </div>
     </div>
     
     <div class="form-group">
       <div class="col-md-offset-2 col-md-10 ">
         <%= f.submit(@chef.new_record? ? "Create your account" : "Update my account",  
                       class: "btn btn-primary btn-lg nice_green" ) %>
         <!--<%= link_to "All Recipes", recipes_path, class: "btn btn-primary btn-lg nice_green" %> -->
       </div>
     </div>
    <% end %>
   </div>
  </div>