<%= render "shared/page_title", title: @chef.chefname %>
<div class= "well col-md-8 col-md-offset-2">
  <h4 class= "description center"><strong>Steps: </strong></h4>
  <hr />
  <br />
 
  <div class="pull-right">
    <p class="center">
     <em> Created by:</em>
    </p>
    <p class ="center">
      <small><%= @chef.chefname.capitalize %></small>
      <div class="pull-right"><%= time_ago_in_words(@chef.created_at) %> ago</div>
    </p>
  </div>
  <div class="recipe-actions">
  <p><%= link_to "Edit", edit_chef_path(@chef), class: "btn btn-sm btn-warning nice_green"%>
     <%= link_to "All Recipes", recipes_path, class: "btn btn-sm btn-warning nice_green"%>
     <%= link_to "Delete", chef_path(@chef), method: :delete, 
                                                             data: {confirm: "Are you sure??"},  
                                                             class: "btn btn-sm btn-danger"%></p>
 </div>
 
</div>
