<% obj.each do |recipe| %>
  <div class="row">
    <div class= "col-md-2">
      <section class= "chef_info center">
        <%= gravatar_for(recipe.chef, size: 120) %> <!-- use the |recipe| to access the chef details for a=vatar here -->
      </section>
    </div>
    <div class= "col-md-8 well <%= cycle('profile-green', '') %>">
      <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
        <p><%= truncate(recipe.description, length: 150) %></p>
        <% if recipe.ingredients.any? %> <!-- The code below will enable all the ingredients to be displayed in Ingredients/show -->
          <p>Ingredients: <%= render recipe.ingredients %></p> <!-- Need to add an Ingredient partial -->
        <% end %> 
          <p><span class="quiet"><small>Created <%= time_ago_in_words(recipe.created_at) %> ago by <%= recipe.chef.chefname.capitalize  %></small></span>
        </p>
          <% if logged_in? && (current_chef == recipe.chef || current_chef.admin?) %>
            <%= link_to "Edit This Recipe", edit_recipe_path(recipe), class: "btn btn-sm btn-warning nice_green white_font"%>
            <%= link_to "Delete This Recipe", recipe_path(recipe), method: :delete, 
                                                             data: {confirm: "Are you sure??"},  
                                                             class: "btn btn-sm btn-danger white_font"%>
        <% end %>
        
    </div>
  </div>  
<% end %>