<div class="row">
   <div class="col-md-12">
    <%= form_for(@ingredient, :html => {class: "form-horizontal", role: "form"}) do |f| %> <!-- This is how you add bootstrap class in ruby code -->
     <div class="form-group">
       <div class="control-label col-md-2">
         <%= f.label :name %>
       </div>
     <div class="col-md-8">
        <%= f.text_field :name, class: "form-control", placeholder: "Enter ingredient", autofocus: true %>
      </div>
     </div>
     
    
     <div class="form-group">
       <div class="col-md-offset-2 col-md-10 ">
         <%= f.submit class: "btn btn-primary nice_green_inverse" %>
          <%= link_to "All Ingredients", ingredients_path, class: "btn btn-primary btn-sm nice_green" %> 
         <%= link_to "All Recipes", recipes_path, class: "btn btn-primary btn-sm nice_green" %> 
       </div>
     </div>
    <% end %>
    <div class="col-md-4 col-md-offset-4">
      <%= link_to "Cancel reguest and return to Ingredients listing", ingredients_path, class: "btn btn-sm btn-primary nice_green" %>
    </div>
   </div>
  </div>